* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    /* scroll-padding-top: 160px; */

}
@font-face{
    src:url('Monotes-EaRqg.ttf');
    font-family: monotes;
}

body{
    font-family: monotes;
    background-image: linear-gradient(#FBB51E,#FE8417);
}


.navbar {
    height: 70px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #FDBD35;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}




.navbar a {
    text-decoration: none;
    font-size: 30px;
    color:#537518;
    box-shadow: inset 0 0 0 0 #537518;
    margin: 0 30px;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.navbar a:hover {
    box-shadow: inset 300px 0 0 0 #537518;
    color: white;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }




.hero {
    
    width: 100%;
    height: 500px;
    background-image: url(Images/Maveli_5.png);
    background-size: cover;

}

.about {
    
    display: flex;
    color:#537518;
    justify-content:center;
    align-items: flex-start;
    margin-bottom: 50px;
}

.about .mav-img1{

    width: 400px;
    height: auto;
    margin-right: 50px;
}

.about-text {
    width: 50%;
    font-size: 25px;
    background-color: #FBB51E;
    padding-left: 15px;
    padding-bottom: 20px;
    
}

.about-text h1 {
    font-size: 35px; 
    margin-bottom: 10px; 
    text-align: center;
}

#aboutme,#aboutonam{
    margin-top:50px;
}

.story {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    border-radius: 5%;
    padding: 30px 100px ;
    box-sizing: border-box;
    background-color: #45565C;
}

.story h1{
    font-size: 35px; 
    margin-bottom: 10px;
}

.story p {
    font-size: 25px; 
    margin-top: 10px;
}

figcaption{
    color: white;
}

.mav-img2 {
    width: 800px;
    
}

.imagecontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}


.imagecontainer img {
    width: 400px;
    height: 300px;
    border-radius: 5%;
    padding-bottom: 20px;
}

#aboutonam h1 {
    text-align: center;
    font-size: 35px;
    color:#537518;
    margin-bottom: 10px;
}

.onamtext {
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: 0 auto;
    background-color:#537518;
}

.onamtext p {
    font-size: 25px; 
    text-align: center;
    text-shadow: 0px 0px 5px black;
    
}

.card-container {
    display:flex;
    justify-content: space-evenly;
    align-items:start;
}

.card {
    width: 300px;
    height: 400px;
    border: 2px solid #FDBD35;
    background-color: white;
    border-radius: 5%;
}

.card img {
    width: 100%;
    height: 300px;
    border-radius: 5%;
}

.footer{
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #FBB51E;

}

