* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;

}
@font-face{
    src:url('Monotes-EaRqg.ttf');
    font-family: monotes;
}

body{
    font-family: monotes;
    background-image: linear-gradient(#FBB51E,#FE8417,#E1680B);
}


.navbar {
    height: 70px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #FDBD35;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}




.navbar a {
    text-decoration: none;
    font-size: 30px;
    color:#537518;
    box-shadow: inset 0 0 0 0 #537518;
    margin: 0 30px;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.navbar a:hover {
    box-shadow: inset 300px 0 0 0 #537518;
    color: white;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }







.hero {
    
    width: 100%;
    height: 500px;
    background-image: url(Images/Maveli_5.png);
    background-size: cover;

}



